/* entirety of this scss is wrapped in the #admin div: components/Admin.vue */
#admin{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f7f7f7;
  padding: 10px;
}