// Remember!!!!
//  styles are imported by putting them in vue.config.js
//  they get loaded via vue.config.js (to handle converting scss to css)

// this is helpful for organizing css
//  https://dev.to/lynnewritescode/my-scss-setup-within-a-vue-cli-3-project-4jan

$dciBlue: #008edc;
$dciBlueLight: #bddce8;
$lightGrey: #f7f7f7;

html{
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body{
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  background-color: $lightGrey !important;
  font-family: 'Avenir', Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

#app{
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#appStart{
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
